<p id="notice"><%= notice %></p>

<div class ="col-md-12">
<h1>Lands </h1>
    <% @lands.each do |land| %>
    <div class ="col-md-3">
      <div class ="col-md-12">
        <h4><%= link_to land.lname, land %></h4>
      </div>
      <div class ="col-md-6">
        <strong>Description: </strong><%= land.ldesc %>
      </div>
      <div class="col-md-12">
        <%= link_to 'Show', land %>
        <%= link_to 'Edit', edit_land_path(land) %>
        <%= link_to 'Destroy', land, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>
      </div>
    </div>
        <% end %>
</div>






<br><br><br>
<div class="col-md-12">
<%= link_to 'New Land', new_land_path %>
</div>
<br><br>
<div class="col-md-12">
  <center>
    <%= will_paginate @lands, renderer: BootstrapPagination::Rails %>
  </center>
</div>


<br><br><hr>

    <% @monsters.each do |mon| %>
      <tr>
        <td><%= mon.mname %></td>
        </tr>
    <% end %>
