<p id="notice"><%= notice %></p>

<center><h1>Monsters </h1></center>

<% @monsters.each do |monster| %>
    <div class="col-md-2">
      <%= image_tag monster.image , class: "img-responsive" %>
    </div>
    <div class ="col-md-10">
      <div class ="col-md-12">
        <h4><%= link_to monster.mname, monster %></h4>
      </div>
      <div class ="col-md-6">
        <strong>Description: </strong><%= monster.mdesc %>
      </div>
      <div class ="col-md-2">
        <strong>Strenght: </strong><%= monster.mstrenght %>
        <strong>Health: </strong><%= monster.mhealth %>
      </div>
    </div>
    <div class="col-md-12">
      <center>
      <%= link_to 'Show', monster %>
      <%= link_to 'Edit', edit_monster_path(monster) %>
      <%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Clone', "monsters/#{monster.id}/clone" %>
      </center>
      <hr>
    </div>

  <% end %>

  <br><br><br>
  <div class="col-md-12">
  <%= link_to 'New Monster', new_monster_path %>
  </div>

  <br><br>
  <div class="col-md-12">
    <center>
      <%= will_paginate @monsters, renderer: BootstrapPagination::Rails %>
    </center>
  </div>



  <h1>Witchers</h1>

  <table>
    <thead>
      <tr>
        <th>Wname</th>
        <th>Wdesc</th>
        <th>Wstrenght</th>
        <th>Whealth</th>
        <th>Lid</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @witchers.each do |witcher| %>
        <tr>
          <td><%= witcher.wname %></td>
          <td><%= witcher.wdesc %></td>
          <td><%= witcher.wstrenght %></td>
          <td><%= witcher.whealth %></td>
          <td><%= witcher.lid %></td>
          <td><%= link_to 'Show', witcher %></td>
          <td><%= link_to 'Edit', edit_witcher_path(witcher) %></td>
          <td><%= link_to 'Destroy', witcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
