<p id="notice"><%= notice %></p>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Mname</th>
      <th>Mdesc</th>
      <th>Mstrenght</th>
      <th>Mhealth</th>
      <th>Wid</th>
      <th>Lid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.mname %></td>
        <td><%= monster.mdesc %></td>
        <td><%= monster.mstrenght %></td>
        <td><%= monster.mhealth %></td>
        <td><%= monster.wid %></td>
        <td><%= monster.lid %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
