<div class="col-md-3">
  <%= image_tag @monster.image , class: "img-responsive" %>
</div>

<div class ="col-md-9">
  <div class ="col-md-12">
    <h4><%= @monster.mname %></h4>
    <hr>
  </div>
  <div class ="col-md-6">
    <strong>Strenght: </strong><%= @monster.mstrenght %>
  </div>
  <div class ="col-md-6">
    <strong>Health: </strong><%= @monster.mhealth %>
  </div>
  <div class ="col-md-12">
      <hr>
      <strong>Description: </strong><%= simple_format @monster.mdesc %>
  </div>
  <div class ="col-md-12">
    <%= link_to 'Find Witcher', "#{@monster.id}/findwitcher" %>
  </div>
</div>


<center>
  <%= link_to 'Edit', edit_monster_path(@monster) %> |
  <%= link_to 'Back', monsters_path %>
</center>
