<%= form_for(witcher) do |f| %>
  <% if witcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(witcher.errors.count, "error") %> prohibited this witcher from being saved:</h2>

      <ul>
      <% witcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :wname %>
  </div>

  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :wdesc %>
  </div>

  <div class="field">
    <%= f.label :Strenght %><br>
    <%= f.number_field :wstrenght %>
  </div>

  <div class="field">
    <%= f.label :Health %><br>
    <%= f.number_field :whealth %>
  </div>

  <div class="field">
    <%= f.label :land %><br>
    <%= f.select :land_id, options_for_select(Land.all.map{|f|["#{f.lname}", f.id]}), class: 'text_field form-control' %>
    </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
