
  <center>
    <div class ="col-md-12">
    <strong>Witcher Name:</strong>
    <%= @witcher.wname %>
    <hr>
  </div>
  <div class ="col-md-6">
    <strong>Strenght: </strong><%= @witcher.wstrenght %>
  </div>
  <div class ="col-md-6">
    <strong>Health: </strong><%= @witcher.whealth %>
  </div>
  <div class ="col-md-12">
      <hr>
      <strong>Description: </strong><%= simple_format @witcher.wdesc %>
  </div>

<center>
<%= link_to 'Edit', edit_witcher_path(@witcher) %> |
<%= link_to 'Back', witchers_path %>
</center>
